* {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.header {
    background-color: rgba(0, 128, 96, 1);
    height: 30vh;
}

#wave {
    margin-top: 29vh;
}

.logo {
    margin-top: -100vh;
    margin-left: 45vw;
    position: absolute;
}

.title1 {
    position: absolute;
    margin-top: -90vh;
    margin-left: 32vw;
    color: white;
    font-weight: bolder;
    font-size: 25px;
}

.p1 {
    position: absolute;
    color: white;
    margin-top: -80vh;
    margin-left: 30vw;
    font-size: 22px;
    font-weight: 300;
}

.form {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 35vw;
    height: 7vh;
    margin-top: -70vh;
    margin-left: 31vw;
}

input {
    width: 25vw;
    height: 6vh;
    border: none;
    border-radius: 4px;
    outline: none;
    color: rgb(182, 185, 189);
    padding-left: 1.5vw;
}

.button1 {
    font-size: 10px;
    letter-spacing: 0px;
    width: 8vw;
    height: 6vh;
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
}

.button1:hover {
    background-color: white;
    color: black;
}

.p2 {
    position: absolute;
    text-align: center;
    width: 35vw;
    margin-top: -60vh;
    margin-left: 31vw;
    color: white;
    letter-spacing: 0px;
    font-size: 13px;
}

.img2 {
    position: absolute;
    width: 20vw;
    margin-left: 38vw;
    margin-top: -55vh;

}

.divBoxPai {
    position: absolute;
    display: flex;
    margin-top: 80vh;
    margin-left: 15vw;
    width: 70vw;
    height: 15vh;
    justify-content: space-between;
}

.divBoxFilho1 {
    font-size: 10px;
    letter-spacing: 0px;
    height: 15vh;
    width: 20vw;
}

.divBoxFilho2 {
    font-size: 10px;
    letter-spacing: 0px;
    height: 15vh;
    width: 20vw;
}

.divBoxFilho3 {
    font-size: 10px;
    letter-spacing: 0px;
    height: 15vh;
    width: 20vw;
}


.p3 {
    color: black;
    letter-spacing: 0px;
    font-weight: bolder;
    margin-top: 2vh;
    font-size: 12px;
}

.p4 {
    color: rgb(154, 158, 162);
    letter-spacing: 0px;
    font-weight: bolder;
    margin-top: 2vh;
    font-size: 10px;
}

.img3 {
    position: absolute;
    margin-top: 110vh;
    margin-left: 25vw;
    width: 50vw;
}

.lastDiv {
    position: absolute;
    margin-top: 135vh;
    margin-left: 30vw;
    width: 40vw;
    text-align: center;
}

.p5 {
    letter-spacing: 0px;
    font-size: 16px;
}

.p6 {
    margin-top: 1vh;
    letter-spacing: 0;
    font-size: 13px;
}

.button2 {
    font-size: 10px;
    letter-spacing: 0px;
    width: 8vw;
    height: 6vh;
    color: white;
    background-color: rgb(0, 128, 96);
    border: none;
    border-radius: 4px;
    margin-top: 4vh;
}

.button2:hover {
    background-color: white;
    color: rgb(0, 128, 96);
}

.footer {
    position: absolute;
    height: 60vh;
    margin-top: 180vh;
    background-color: rgb(250, 249, 248);
}

.faqboxpai {
    position: absolute;
    width: 80vw;
    height: 40vh;
    margin-left: 10vw;
    margin-top: 5vh;
    text-align: center;
}

.titlefaq {
    color: rgb(0, 128, 96);
    font-weight: lighter;
    letter-spacing: 0px;
    font-size: 25px;
    font-weight: 700;
}

.faq1 {
    width: 40vw;
    height: 3vh;
    justify-content: space-between;
    margin-left: 20vw;
    margin-top: 10vh;
    height: 5vh;
}

.faq2 {
    width: 40vw;
    height: 3vh;
    justify-content: space-between;
    margin-left: 20vw;
    height: 5vh;
}

.faq3 {
    width: 40vw;
    height: 3vh;
    justify-content: space-between;
    margin-left: 20vw;
    height: 5vh;
}

.faq4 {
    width: 40vw;
    height: 3vh;
    justify-content: space-between;
    margin-left: 20vw;
    height: 5vh;
}


.p7 {
    font-size: 19px;
    font-weight: lighter;
    letter-spacing: 0px;
    margin-top: 1vh;
    justify-content: start;
    text-align: left;
}

.p8 {
    margin-left: 38vw;
    margin-top: -4vh;
}

hr {
    color: rgb(236, 237, 237);
    margin-top: 3vh;
}